html{
    box-sizing:border-box
}
*,*:before,*:after{
    box-sizing:inherit
}

html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{
    display:block
}

[hidden],template{
    display:none
}
a{
    background-color:transparent
}
a:active,a:hover{
    outline-width:0
}

small{
    font-size:80%
}

img{
    border-style:none
}

hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
 button,input,select{
    font:inherit;
    margin:0
}

 button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
 button,[type=button],[type=reset],[type=submit]{
    -webkit-appearance:button
}
 button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{
    border-style:none;
    padding:0
}
 button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{
    outline:1px dotted ButtonText
}

/* End extract */
html,body{
    font-size:15px;
    line-height:1.5
}
html{
    overflow-x:hidden
}
h1{
    font-size:36px
}
h2{
    font-size:30px
}
h3{
    font-size:24px
}
h4{
    font-size:20px
}
h5{
    font-size:18px
}
h6{
    font-size:16px
}

h1,h2,h3,h4,h5,h6{
    font-weight:400;
    margin:10px 0
}

 hr{
    border:0;
    border-top:1px solid #eee;
    margin:20px 0
}

img{
    vertical-align:middle
}
a{
    color:inherit
}

.hoverable tbody tr:hover,.ul.hoverable li:hover{
    background-color:#ccc
}
.centered tr th,.centered tr td{
    text-align:center
}

#main.button {
    border-radius: 5px;
}

.button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}
.button{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.disabled,.button:disabled{
    cursor:not-allowed;
    opacity:0.3
}
.disabled *,:disabled *{
    pointer-events:none
}

.input{
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
}
.select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
}
 


.sidebar{
    height:100%;
    width:120px;
    background-color:#222;
    position:fixed;
    z-index:1;
    overflow:auto
}

.bar-block.dropdown-hover.button,.bar-block.dropdown-click.button{
    width:100%;
    text-align:left;
    padding:8px 16px
}

#main {
    margin-left: 120px
}

.main,#main{
    transition:margin-left.4s
}
.bar{
    width:100%;
    overflow:hidden
}
.center.bar{
    display:inline-block;
    width:auto
}
.bar.bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}
.bar.dropdown-hover,.bar.dropdown-click{
    position:static;
    float:left
}
.bar.button{
    white-space:normal
}
.bar-block.bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.bar-block.center.bar-item{
    text-align:center
}

.responsive{
    display:block;
    overflow-x:auto
}
.container:after,.container:before,.row:after,.row:before,.row-padding:after,.row-padding:before,.cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{
    content:"";
    display:table;
    clear:both
}
.col,.half,.third,.twothird,.threequarter,.quarter{
    float:left;
    width:100%
}

@media (min-width:601px){
   .col.m1{
        width:8.33333%
    }
   .col.m2{
        width:16.66666%
    }
   .col.m3,.quarter{
        width:24.99999%
    }
   .col.m4,.third{
        width:33.33333%
    }
    .col.m5{
        width:41.66666%
    }
   .col.m6,.half{
        width:49.99999%
    }
   .col.m7{
        width:58.33333%
    }
   .col.m8,.twothird{
        width:66.66666%
    }
    .col.m9,.threequarter{
        width:74.99999%
    }
   .col.m10{
        width:83.33333%
    }
   .col.m11{
        width:91.66666%
    }
   .col.m12{
        width:99.99999%
    }
}

.content,.auto{
    margin-left:auto;
    margin-right:auto
}
.content{
    max-width:980px
}
.auto{
    max-width:1140px
}

.hide{
    display:none
}
.show{
    display:block
}

@media (max-width:1205px){
   .auto{
        max-width:95%
    }
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}
@media (max-width:600px){
    .dropdown-hover.mobile.dropdown-content,.dropdown-click.mobile.dropdown-content{
        position:relative
    }
    .hide-small{
        display:none
    }
   .mobile{
        display:block;
        width:100%
    }
   .bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile{
        text-align:center
    }
    .dropdown-hover.mobile,.dropdown-hover.mobile.button,.dropdown-click.mobile,.dropdown-click.mobile.button{
        width:100%
    }
}
@media (min-width:993px){
   .hide-large{
        display:none
    }
   .sidebar.collapse{
        display:block
    }
}
@media (max-width:992px) and (min-width:601px){
   .hide-medium{
        display:none
    }
}
@media (max-width:992px){
   .sidebar.collapse{
        display:none
    }
   .main{
        margin-left:0;
        margin-right:0
    }
   .auto{
        max-width:100%
    }
}
.top,.bottom{
    position:fixed;
    width:100%;
    z-index:1
}
.top{
    top:0
}
.bottom{
    bottom:0
}

.display-container:hover.display-hover{
    display:block
}
.display-container:hover span.display-hover{
    display:inline-block
}
.display-hover{
    display:none
}
.display-position{
    position:absolute
}
.circle{
    border-radius:50%
}
 
.row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{
    padding:0 8px
}

.row-padding img {
    margin-bottom: 12px
}

.container{
    padding:0.01em 0
}

.code,.codespan{
    font-family:Consolas,"courier new";
    font-size:16px
}

.codespan{
    color:crimson;
    background-color:#f1f1f1;
    padding-left:4px;
    padding-right:4px;
    font-size:110%
}

.opacity,.hover-opacity:hover{
    opacity:0.60
}
.opacity-off,.hover-opacity-off:hover{
    opacity:1
}
.opacity-max{
    opacity:0.25
}
.opacity-min{
    opacity:0.75
}
.greyscale-max,.grayscale-max,.hover-greyscale:hover,.hover-grayscale:hover{
    filter:grayscale(100%)
}
.greyscale,.grayscale{
    filter:grayscale(75%)
}
.greyscale-min,.grayscale-min{
    filter:grayscale(50%)
}
.sepia{
    filter:sepia(75%)
}
.sepia-max,.hover-sepia:hover{
    filter:sepia(100%)
}
.sepia-min{
    filter:sepia(50%)
}
.tiny{
    font-size:10px
}
.small{
    font-size:12px
}
.medium{
    font-size:15px
}
.large{
    font-size:18px
}
.xlarge{
    font-size:24px
}
.xxlarge{
    font-size:36px
}
.xxxlarge{
    font-size:48px
}
.jumbo{
    font-size:64px
}
.left-align{
    text-align:left
}
.right-align{
    text-align:right
}
.justify{
    text-align:justify
}
.center{
    text-align:center
}
.border-0{
    border:0
}
.border{
    border:1px solid #ccc
}
.border-top{
    border-top:1px solid #ccc
}
.border-bottom{
    border-bottom:1px solid #ccc
}
.border-left{
    border-left:1px solid #ccc
}
.border-right{
    border-right:1px solid #ccc
}
.topbar{
    border-top:6px solid #ccc
}
.bottombar{
    border-bottom:6px solid #ccc
}
.section,.code{
    margin-top:16px;
    margin-bottom:16px
}
.margin{
    margin:16px
}
.margin-top{
    margin-top:16px
}
.margin-bottom{
    margin-bottom:16px
}
.margin-left{
    margin-left:16px
}
.margin-right{
    margin-right:16px
}
.padding-small{
    padding:4px 8px
}
.padding{
    padding:8px 16px
}
.padding-large{
    padding:12px 24px
}
.padding-16{
    padding-top:16px;
    padding-bottom:16px
}
.padding-24{
    padding-top:24px;
    padding-bottom:24px
}
.padding-32{
    padding-top:32px;
    padding-bottom:32px
}
.padding-48{
    padding-top:48px;
    padding-bottom:48px
}
.padding-64{
    padding-top:64px;
    padding-bottom:64px
}
.left{
    float:left
}
.right{
    float:right
}
.button:hover{
    color:#000;
    background-color:#ccc
}
.transparent,.hover-none:hover{
    background-color:transparent
}
.hover-none:hover{
    box-shadow:none
}
/* Colors */

.yellow,.hover-yellow:hover{
    color:#000;
    background-color:#ffeb3b
}

.lime{
    color:#000;
    background-color:#ffeb3b
}

.light-lime{
    color:#000;
    background-color:#F7EB83
}

.light-yellow{
    color:#fff;
    background-color:#756C1B
}

.white,.hover-white:hover{
    color:#000;
    background-color:#fff
}
.black,.hover-black:hover{
    color:#fff;
    background-color:#000
}
.grey,.hover-grey:hover,.gray,.hover-gray:hover{
    color:#000;
    background-color:#9e9e9e
}

.text-white,.hover-text-white:hover{
    color:#fff
}
.text-black,.hover-text-black:hover{
    color:#000
}
.text-grey,.hover-text-grey:hover,.text-gray,.hover-text-gray:hover{
    color:#c7c7c7
}
 
.social-links i {
    margin-left: 10px;
    margin-right: 10px;
}

#main.social-links i {
    margin-left: 0;
    margin-right: 20px;
}